<div class="sidebar-container">

  <app-profile-card class="mat-elevation-z2"></app-profile-card>
  <mat-nav-list>
    <h2 matSubheader class="h2-padding">Pages</h2>
    <a mat-list-item routerLink="/" routerLinkActive="active-link">
      <div style="display: flex; gap: 5px;">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">
        </mat-icon><span>Dashboard</span>
      </div>
    </a>
    <a mat-list-item routerLink="/ssc" routerLinkActive="active-link">Asdasdds</a>
    <a mat-list-item routerLink="/scsc" routerLinkActive="active-link">ASDASD</a>
  </mat-nav-list>
  <mat-divider></mat-divider>


  <h2 matSubheader class="h2-padding">Tools</h2>
  <a mat-list-item routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <div style="display: flex; gap: 5px;">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">
      </mat-icon><span>Dashboard</span>
    </div>
  </a>
</div>
