// .profile-card {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   padding: 20px;
//   background-color: white;

//   .profile-image {
//     width: 120px;
//     height: 120px;
//     object-fit: cover;
//     border-radius: 50%;
//   }
// }
.sidebar-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;



}

.active-link {
  color: rgb(221, 157, 172) !important;
  font-weight: bold !important;
  background-color: #eee;
}

.h2-padding {
  padding: .5rem 1.3rem;
  margin: 0;
}
