.example-spacer {
  flex: 1 1 auto;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
}

ul li {
  list-style: none;
}

.row-container {
  display: flex;
  flex-direction: row;
}
