<mat-card class="auth-page-container">
  <mat-card-content>
    <mat-card class="auth-from-container">
      <mat-card-title>SignUp/SignIn</mat-card-title>
      <mat-card-content class="card-content">
        <mat-tab-group animationDuration="800ms" dynamicHeight>
          <mat-tab label="Sign Up">
            <app-register-form></app-register-form>
          </mat-tab>
          <mat-tab label="Sign In">
            <app-login-form></app-login-form>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
